.tempComponent {
	display: flex;
	align-items: center;
	justify-content: center;

	.text {
		font-family: var(--font-family);
		font-weight: 400;
		font-size: 40px;
		color: #ffffff;
		margin: 0 23px;
	}
}
