.preferItem {
	border: 1px solid #fff;
	border-radius: 100px;
	padding: 17px 25px;

	font-family: var(--font-family);
	font-weight: 600;
	font-size: 18px;
	line-height: 133%;
	color: #f7f7f7;

	cursor: pointer;
	transition: 0.2s;
	background-color: transparent;
}
.preferItem.active,
.preferItem:hover {
	border: none;
	color: #f7f7f7;
	background: linear-gradient(219deg, #0a946d 0%, #19385c 100%);
}
