@import '../../shared/style/variables.scss';

.modal {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0px;
	left: 0px;
	z-index: 13;

	background: rgba(64, 63, 61, 0.8);
	backdrop-filter: blur(10px);
	display: flex;
	justify-content: center;
	align-items: center;
}
