/* сброс стандартных стилей */
@import url('../shared/style/normalize.css');

/* Подключение шрифтов  */
@import url('../shared/assets/fonts/fonts.css');

@font-face {
	src: url(../shared/assets/fonts/OpenSans/OpenSans-Regular.woff);
	font-family: OpenSans-Regular;
}

html,
body {
	height: 100%;
	width: 100%;
}

* {
	box-sizing: border-box;
}

body {
	/* Синяя подсветка сливается с фоном */
	-webkit-tap-highlight-color: transparent;
	/* Предотвращаем появление контекстного меню на устройствах Apple */
	-webkit-touch-callout: none;
	/* Осторожно относимся к выбору контента */
	-webkit-user-select: none;
	background: #161616;
	padding: 0 16px;
	overflow-x: hidden;
}
