@import '../../shared/style/variables.scss';

.mainLogo {
	font-family: $--font-family;
	font-weight: 800;
	font-size: 44px;
	text-align: center;
	color: $--main-white-000;

	position: fixed;
	top: 60px;
	z-index: 11;
}
