@import '../../style/variables.scss';

.buttonLogin {
	border: 1px solid #fff;
	border-radius: 40px;
	height: 64px;
	width: 100%;
	background: transparent;

	display: flex;
	justify-content: center;
	align-items: center;

	cursor: pointer;

	.content {
		display: flex;
		gap: 16px;

		.text {
			font-family: $--font-family;
			font-weight: 400;
			font-size: 22px;
			color: $--main-white-000;
		}
	}
}
